<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>New M.S. Engineering Works</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="kitchen equipments,canteen equipments,refridgeration equipments,bakery equipments,food service equipments,gas bank manifolds,cooking,fastfood,pantry,preparation,cold equipments,services,display counters,wash up,grill,gates,stairs,balcony,Patna">
	<meta name="description" content="New MS Engineering Works">
<!-- -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/animate.min.css">
	<link rel="stylesheet" href="/static/css/et-line-font.css">
	<link rel="stylesheet" href="/static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="/static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- preloader section-->
<!--<div class="preloader">-->
<!--	<div class="sk-spinner sk-spinner-circle">-->
<!--       <div class="sk-circle1 sk-circle"></div>-->
<!--       <div class="sk-circle2 sk-circle"></div>-->
<!--       <div class="sk-circle3 sk-circle"></div>-->
<!--       <div class="sk-circle4 sk-circle"></div>-->
<!--       <div class="sk-circle5 sk-circle"></div>-->
<!--       <div class="sk-circle6 sk-circle"></div>-->
<!--       <div class="sk-circle7 sk-circle"></div>-->
<!--       <div class="sk-circle8 sk-circle"></div>-->
<!--       <div class="sk-circle9 sk-circle"></div>-->
<!--       <div class="sk-circle10 sk-circle"></div>-->
<!--       <div class="sk-circle11 sk-circle"></div>-->
<!--       <div class="sk-circle12 sk-circle"></div>-->
<!--    </div>-->
<!--</div>-->

<!-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar" role="navigation">
		<div class="container-fluid">
		<div class="navbar-header">
			<!--<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
			<!--	<span class="icon icon-bar"></span>-->
			<!--	<span class="icon icon-bar"></span>-->
			<!--	<span class="icon icon-bar"></span>-->
			<!--</button>-->
			<img class="subtitle" style="height: 50px;width: 60px;display: inline;float: left;padding: 0px 5px 0px 0px;" src="/static/images/ms-logo.png"/>
			<a href="#" class="navbar-brand" style="display: inline;top: 0px;"><strong>New M.S. Engineering Works</strong></a><br/>
			<!--<h5>Best in Commercial Food Services and Equipments</h5>-->
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="scroll" data-speed="1000">HOME</a></li>
				<li><a href="#about" class="scroll" data-speed="1000">ABOUT</a></li>
				<li><a href="/catalog" class="" target="_blank">PRODUCTS</a></li>
				<li><a href="#contact" class="scroll" data-speed="1000">CONTACT</a></li>
			</ul>
		</div>
	</div>
</section>

<!-- home section -->
<section id="home">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3 class="" style="color:white">BEST IN COMMERCIAL FOOD SERVICES AND EQUIPMENTS<br>STANDARD QUALITY, INNOVATIVE PRODUCTS, CUSTOMIZATION.</h3>
				<h1 class="linear-wipe"><strong>NEW M.S. ENGINEERING WORKS</strong></h1>
				<hr>
				<h2>An ISO 9001:2008 Certified Company</h2>
			</div>
		</div>
		<div class="row">
		<div class="col-md-12 col-sm-12">
			<!--<div class="col-md-4 col-sm-4 text-left" style="position: absolute;bottom: 5px;left: 10px;">-->
			<!--<img src="/static/images/iaf-jas-anz-accredited-certification-body-in-india-500x500 (1).jpg" alt="IAF & JAS-ANZ logo"></img>-->
			<!--</div>-->
			<!--<div class="col-md-8 col-sm-8 blockquote-reverse text-right" style="position: absolute; bottom: 30px;right: 10px;">-->
			<h3 class="" style="color:white">ONE STOP JUNCTION TO AVAIL WORLD CLASS COMMERCIAL KITCHEN EQUIPMENTS, CANTEEN EQUIPMENTS, REFRIGERATION EQUIPMENT, 
			BAKERY EQUIPMENTS, FOOD SERVICE EQUIPMENTS, GAS BANKS MANIFOLDS ETC.</h3>
			<!--</div>-->
		</div>
		</div>
	</div>		
</section>

<!-- about/work section -->
<section id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<h1 class="heading bold neon" style="color:gray/*linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)*/;"> ABOUT US</h1>
					<hr>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s" style="text-align:left">
				<i class="icon-shield icon-trophy medium-icon"></i>
					<h3>Who We Are</h3>
					<hr>
					<p>Welcome to the world of food service equipments.Foundation of New M.S Engineering equipments is commitment to quality.We represent quality with due value added approach to its customer.Our equipments offers product solution with dedicated hard work and innovations. This gives the company a substantial advantage over competitors.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s" style="text-align:center">
				<i class="icon-target medium-icon"></i>
					<h3>Our Mission</h3>
					<hr>
					<p>Our Mission is to deliver standardized goods & products to cater the requirements of customers and also enhance current services to influence future growth & customer satisfaction.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s"  style="text-align:right">
				<i class="icon-telescope medium-icon"></i>
					<h3>Our Vision</h3>
					<hr>
					<p>Our Vision is to be the world class giant leader in products, solutions, sales and after sales, services of the heavy commercial kitchen accessories or equipments that enable and transform the way consumers purchase & invest their capital.</p>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 text-center">
				<div style="text-align: center">
					<h1 class="heading" style="/*background-color:rgba(100, 100, 100,0.20);*/ color :rgb(100,100,100)/*#4C6A92*/">OUR CLIENTS</h1>
				</div>
		</div>
		<br><br><br>
		<div class="row">
			<div class="c-carousel">
				<div class="c-carousel__arrow c-carousel__arrow--left"></div>
				<div class="c-carousel__arrow c-carousel__arrow--right"></div>
					<ul class="c-carousel__slides">
						<li><img class="carosel-img" src="/static/images/carosel/aiims.jpg"/><p class="caption">AIIMS Patna</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/IITPatna.jpg"/><p class="caption">IIT Patna</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/NITPatna.jpg"/><p class="caption">NIT Patna</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/BitPatna.jpg"/><p class="caption">BIT Patna</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/BitRanchi.jpg"/><p class="caption">BIT Ranchi</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/ISM.jpg"/><p class="caption">ISM Dhanbad</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/IHMHazipur.jpg"/><p class="caption">IHM Hazipur</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/BiharVeterinaryCollegePatna.jpg"/><p class="caption">Bihar Veterinary Collg</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/MagadhUniv.jpg"/><p class="caption">Magadh University</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/Rbi.jpg"/><p class="caption">RBI Patna</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/RailwayDanapur.jpg"/><p class="caption">IND Railways Danapur</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/IRCTC.jpg"/><p class="caption">IRCTC</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/NavodayaVidyalayaSmiti.jpg"/><p class="caption">Navodaya Vidylaya Smiti</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/RamKrishnaMissionDevghar.jpg"/><p class="caption">RamKrishna Mission Devghar</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/SainikSchoolBhubaneshwar.jpg"/><p class="caption">Sainik School BBSR</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/SainikSchoolTilaiya.jpg"/><p class="caption">Sainik School Tilaiya</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/SainikSchoolGopalganj.jpg"/><p class="caption">Sainik School Gopalganj</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/SainikSchoolRajgir.jpg"/><p class="caption">Sainik School Rajgir</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/BisopScottSchoolPatna.jpg"/><p class="caption">Bishop Scott School</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/PCS.jpg"/><p class="caption">Patna Central School</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/HotelMauryaPatna.jpg"/><p class="caption">Hotel Maurya Patna</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/HotelChanakyaPatna.jpg"/><p class="caption">Hotel Chanakya Patna</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/TheAshokGroup.jpg"/><p class="caption">The Ashoka Group</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/HotelAstorPatna.jpg"/><p class="caption">Hotel Astor Patna</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/HaldiramPatna.jpg"/><p class="caption">Haldiram Patna</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/GargeeGrandPatna.jpg"/><p class="caption">Gargee Grand Patna</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/ClarksInnPatna.jpg"/><p class="caption">Clarks Inn Patna</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/MainlandChinaPatna.jpg"/><p class="caption">Mainland China</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/LakhuDaDhaba.jpg"/><p class="caption">LakhuDaDhaba</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/MotiMahal.jpg"/><p class="caption">Moti Mahal</p></li>
						<li><img class="carosel-img" src="/static/images/carosel/TheYellowChilli.jpg"/><p class="caption">The Yellow Chilli</p></li> 
						
					</ul>
			</div>	
		</div>
		
	</div>
</section>
	

<!-- contact section -->
<section id="contact">
	<div class="container-fluid">
		<!--<div class="row">-->
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<h1 class="heading bold">CONTACT US</h1>
					<hr>
				</div>
			</div>
		<!--</div>-->
		<!--<div class="row">-->
			<div class="col-md-6 col-sm-12 contact-info">
				<h2 class="heading bold">NEW M.S. ENGINEERING WORKS</h2>
				<p> <!--h5>Standard Quality , Innovative Products and Customization</h5--> 
				Shop No-14 , Hotel Samrat International , Fraser Road , Patna - 800001</p>
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
						<p> newmseng@gmail.com <br> singhpintu001@gmail.com</p>
					</div>
					<div class="col-md-4 col-sm-12">
						<h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> PHONES</h3>
						<p>0612-2211900 <br>9431623564 , 9835011214 , 9934007415 , 9608249741</p>
					</div>
					<div id="map" class="col-md-6 col-sm-12">
						<h3><i class="icon-map medium-icon wow bounceIn" data-wow-delay="0.6s" style="margin-top: 0px;margin-bottom: 0px;padding-top: 0px; padding-bottom: 0px;"></i>OUR LOCATION</h3>
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14391.55593470174!2d85.137585!3d25.608605!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e3e0d847e4fc14!2sNew+M.S.+Engineering+Works!5e0!3m2!1sen!2sus!4v1507225291296" width="550" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<form action="#" method="get" class="wow fadeInUp" data-wow-delay="0.6s">
					<div class="col-md-5 col-sm-5">
						<input type="text" class="form-control" placeholder="Your Name" name="name">
					</div>
					<div class="col-md-7 col-sm-7">
						<input type="email" class="form-control" placeholder="Your Email" name="email">
					</div>
					<div class="col-md-12 col-sm-12">
						<textarea class="form-control" placeholder="Message" rows="7" name="message"></textarea>
					</div>
					<div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
						<input type="submit" class="form-control" value="SEND MESSAGE">
					</div>
					<div class="col-md-6 col-sm-12" style="text-align: right;float: right;top: 40px; right: 5px; bottom: 5px;">
						<a href="/static/MSEnggCatalog.pdf" download>Download Our Catalog</a>
						<br><br>
						<hr>
						<p>Copyright © New M.S. Engineering Works </p>
						<p>Developed by : </p>
						<hr>
					</div>
				</form>
			</div>
		<!--</div>-->
	</div>
</section>

<!-- footer section -->
<!--
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright © Digital Team HTML5 Template | Design: <a href="http://www.tooplate.com" target="_parent">Tooplate</a></p>
				<hr>
				<ul class="social-icon">
					<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
					<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
					<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-tumblr wow fadeIn" data-wow-delay="0.9s"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer> -->


<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/isotope.js"></script>
<script src="/static/js/imagesloaded.min.js"></script>
<script src="/static/js/nivo-lightbox.min.js"></script>
<script src="/static/js/jquery.backstretch.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/custom.js"></script>
<script>
// Removed default smooth scroll , custom code for scroll.
(function() {

     'use strict';

    // Feature Test
    if ( 'querySelector' in document && 'addEventListener' in window && Array.prototype.forEach ) {

        // Function to animate the scroll
        var smoothScroll = function (anchor, duration) {

            // Calculate how far and how fast to scroll
            var startLocation = window.pageYOffset;
            var endLocation = anchor.offsetTop;
            var distance = endLocation - startLocation;
            var increments = distance/(duration/16);
            var stopAnimation;

            // Scroll the page by an increment, and check if it's time to stop
            var animateScroll = function () {
                window.scrollBy(0, increments);
                stopAnimation();
            };

            // If scrolling down
            if ( increments >= 0 ) {
                // Stop animation when you reach the anchor OR the bottom of the page
                stopAnimation = function () {
                    var travelled = window.pageYOffset;
                    if ( (travelled >= (endLocation - increments)) || ((window.innerHeight + travelled) >= document.body.offsetHeight) ) {
                        clearInterval(runAnimation);
                    }
                };
            }
            // If scrolling up
            else {
                // Stop animation when you reach the anchor OR the top of the page
                stopAnimation = function () {
                    var travelled = window.pageYOffset;
                    if ( travelled <= (endLocation || 0) ) {
                        clearInterval(runAnimation);
                    }
                };
            }

            // Loop the animation function
            var runAnimation = setInterval(animateScroll, 16);
       
        };

        // Define smooth scroll links
        var scrollToggle = document.querySelectorAll('.scroll');

        // For each smooth scroll link
        [].forEach.call(scrollToggle, function (toggle) {

            // When the smooth scroll link is clicked
            toggle.addEventListener('click', function(e) {

                // Prevent the default link behavior
                e.preventDefault();

                // Get anchor link and calculate distance from the top
                var dataID = toggle.getAttribute('href');
                var dataTarget = document.querySelector(dataID);
                var dataSpeed = toggle.getAttribute('data-speed');

                // If the anchor exists
                if (dataTarget) {
                    // Scroll to the anchor
                    smoothScroll(dataTarget, dataSpeed || 500);
                }

            }, false);

        });

    }

 })();
</script>
</body>
</html>